<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 全局扫描 ,以完成Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com" />

	<!-- 开启注解 -->
	<mvc:annotation-driven />
	<!-- 静态资源访问 -->

	<mvc:resources mapping="/html/**" location="/WEB-INF/ETL/html/" />
	<mvc:resources mapping="/js/**" location="/WEB-INF/ETL/js/" />
	<mvc:resources mapping="/css/**" location="/WEB-INF/ETL/css/" />
	<mvc:resources mapping="/fonts/**" location="/WEB-INF/ETL/fonts/" />
	<mvc:resources mapping="/images/**" location="/WEB-INF/ETL/images/" />
	<mvc:resources mapping="/jsons/**" location="/WEB-INF/ETL/jsons/" />
	<!--<mvc:resources mapping="/web/**" location="/resources/fakeData/" /> 用于测试的假数据 -->
	<!--ViewResolver 视图解析器 -->
	<!--用于支持Servlet、JSP视图解析 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/public/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 设置请求映射编码，解决@ResponseBody乱码问题 -->

</beans>
